@{
    ViewData["Title"] = "Lista de Países";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <select asp-items="@(new SelectList(@ViewBag.ListaPaises,"Id", "Nome") )"></select>
</div>
